{% extends 'mails/_base.html.twig' %}

{% block title %}
    <p>Reset password</p>
{% endblock %}

{% block content %}
    <p>You have 2 days to change your password.</p>
    <p>You can change your password <a href="{{ url('front_password_reset', {'id': reset.id, 'hash': reset.hash, 'email': reset.email}) }}">here</a>.</p>
{% endblock %}
