{% extends 'mails/_base.html.twig' %}

{% block title %}
    <p>Registration to Prepare to dice</p>
{% endblock %}

{% block content %}
    <p>You're now register to Prepare to dice.</p>
    <p>If you are a game master, you can create your game, configure it, manage it and invite your players.</p>
    <p>If you are a player, give your username to your game master and wait for invitation.</p>
{% endblock %}
