<div class="linksContainer alt">

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Home",
        'icon': "fal fa-home",
        'route': "gameBack_home"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Battles",
        'icon': "fal fa-swords",
        'route': "gameBack_battle_list"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Teams",
        'icon': "fal fa-users-class",
        'route': "gameBack_teams_dashboard"
    } %}

</div>

<div class="linksContainer">

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Characters",
        'icon': "fal fa-user",
        'route': "gameBack_character_list"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Skills",
        'icon': "fal fa-book-alt",
        'route': "gameBack_skill_list"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Status effects",
        'icon': "fal fa-file-medical-alt",
        'route': "gameBack_statusEffect_list"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Passives",
        'icon': "fal fa-fingerprint",
        'route': "gameBack_passive_list"
    } %}

</div>

<div class="linksContainer">

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Weapons",
        'icon': "fal fa-sword",
        'route': "gameBack_weapon_list"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Gears",
        'icon': "fal fa-helmet-battle",
        'route': "gameBack_gear_list"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Items",
        'icon': "fal fa-sack",
        'route': "gameBack_item_list"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Consumables",
        'icon': "fal fa-toolbox",
        'route': "gameBack_consumable_list"
    } %}

</div>

<div class="linksSeparator"></div>

<div class="linksContainer">

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Game elements",
        'icon': "fal fa-file-alt",
        'route': "gameBack_lore_list"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Jobs",
        'icon': "fal fa-user-ninja",
        'route': "gameBack_job_list"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Resources",
        'icon': "fal fa-tasks-alt",
        'route': "gameBack_resource_list"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Attributes",
        'icon': "fal fa-sort-numeric-up-alt",
        'route': "gameBack_attribute_list"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Equipment slots",
        'icon': "fal fa-female",
        'route': "gameBack_slot_list"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Damage natures",
        'icon': "fal fa-fire-alt",
        'route': "gameBack_nature_list"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Potency augmentators",
        'icon': "fal fa-chart-line",
        'route': "gameBack_potency_list"
    } %}

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Game settings",
        'icon': "fal fa-cog",
        'route': "gameBack_settings"
    } %}

</div>

<div class="linksSeparator"></div>

<div class="linksContainer">

    {% include "back/_layout/menu-action.html.twig" with {
        'name': "Back to games",
        'icon': "fal fa-undo",
        'route': "front_game_list"
    } %}

</div>