<div>
    <div>
        {% for characterSkill in character.characterSkills %}
            <div class="object">
                <div class="header" onclick="unfold(this)">
                    <div class="graph">
                        <i class="fal fa-book-alt"></i>
                    </div>
                    <div class="identity">
                        <h2>{{ characterSkill.skill.name }}</h2>
                    </div>
                </div>
                <div class="body">
                    {% if characterSkill.skill.description != '' %}
                        <div class="panels spacedChildren">
                            <div>
                                <h2 class="lined"><i class="fal fa-align-justify"></i>Description</h2>
                                <p class="medium">{{ characterSkill.skill.description }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% include "_common/entity-bodies/skill.html.twig" with {'skill': characterSkill.skill} %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>