<div class="attributeContainer">
    <p class="name" style="color:{{ characterAttribute.attribute.getDarkColor }};">{{ characterAttribute.attribute.name }}</p>
    <p class="value" style="color:{{ characterAttribute.attribute.getDarkColor }};">{{ characterAttribute.finalValue }}</p>
</div>